.leave-remain-container {
    display: flex;
    flex-direction: column;
}

.leave-days-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.leave-days {
    width: 50%;
}

.leave-days-2 {
    flex-grow: 1;
}

.header-label {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.value {
    font-size: xx-large;
    font-weight: bold;
}

.label {
    text-align: left;
}