.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: white;
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card2 {
    margin-top: 20px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table, th, td {
    border: none;
    padding: 10px;
}

.table-manage {
    width: 100%;
}

.button-create {
    border: none;
    padding: 15px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgray;
}

.button-create:hover {
    background-color: gray;
}

.button-create:focus {
    outline: none;
}

.tr-content:hover {
    background-color: lightgray;
}